<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tideware.app.tidenote">

    <application
        android:name=".TidewareApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_tidenote_icon_512x512"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_tidenote_icon_512x512"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>